<body>
	<nav class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand" href="#" style="color: white; font-size: 20px; font-weight: bold;">PlanningClassroom</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav" id="NavLinks">
				<li class="nav-item">
					<a class="nav-link" href="index.html" style="color: white; font-size: 16px;">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="inscription.html" style="color: white; font-size: 16px;">Inscription</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="connexion.html" style="color: white; font-size: 16px;">Connexion</a>
				</li>
				<li class="nav-item dropdown">
					<a style="color: white; font-size: 16px;" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					DOSSOU Ariel
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
					<a class="dropdown-item" href="#" id="slink">Profil</a>
					<a class="dropdown-item" href="#" id="slink">Déconnexion</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
	<aside class="">
		<div class="btn-group-vertical mt-2">
			<button class="btn btn-secondary mt-2">
				<a href="/class">Gestion des classes</a>
			</button>
			<button class="btn btn-secondary mt-2">
				<a href="/">Gestion des utilisateurs</a>
			</button>
			<button class="btn btn-secondary mt-2">
				<a href="/">Gestion des Enseignants</a>
			</button>
		</div>
	</aside>
</body>
