<body>
	<nav class="navbar navbar-expand-lg navbar-light">
		<a class="navbar-brand" href="#" style="color: white; font-size: 20px; font-weight: bold;">PlanningClassroom</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav" id="NavLinks">

				<li class="nav-item">
					<a class="nav-link" href="index.html" style="color: white; font-size: 16px;">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="inscription.html" style="color: white; font-size: 16px;"><span>Inscription</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="connexion.html" style="color: white; font-size: 16px;">Connexion</a>
				</li>
				<li class="nav-item dropdown">
					<a style="color: white; font-size: 16px;" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					DOSSOU Ariel
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
					<a class="dropdown-item" href="#" id="slink">Profil</a>
					<a class="dropdown-item" href="#" id="slink">Déconnexion</a>
					</div>
				</li>

			</ul>
		</div>
	</nav>
<div class="container">
	<div class="row">
		<div class="card"  style="top: 100px; margin: auto; width: 800px;">
		  	<div class="card-header" style="text-align: center; font-weight: bold; font-size: 20px;">
		    	Bienvenu Sur PlanningClassroom
		  	</div>
		  	<div class="card-body" style="text-align: center; font-size: 20px;">
		  		Nous vous aidons a realiser des réservations, en quelques cliques...
				<br/>
				Inscrivez vous si vous n'avez pas de compte
		  	</div>
		</div>
	</div>
</div>

<script src="scripts/jquery.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="fontawesome/js/all.js"></script>
<script src="scripts/scripts.js"></script>

</body>
